.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  color: #fff;
  background-color: rgb(33, 41, 162);
  font-size: 18px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  .currency-label {
    margin-right: 10px;
  }
}